<!doctype html>
<html>
<head>
    <title>Calculator</title>
</head>
<body>
    <h1>MAKE NUMBERS DO STUFF</h1>
    <form action="/add" method="post">
        <input type="text" name="firstnumber" placeholder="Add 1"> 
        <input type="text" name="secondnumber" placeholder="Add 2">
        <button type="submit">Make Big</button>
    </form>
    <form action="/subtract" method="post">
        <input type="text" name="firstnumber" placeholder="Sub 1"> 
        <input type="text" name="secondnumber" placeholder="Sub 2">
        <button type="submit">Make Small</button>
    </form>
    <form action="/multiply" method="post">
        <input type="text" name="firstnumber" placeholder="Multiply 1"> 
        <input type="text" name="secondnumber" placeholder="Multiply 2">
        <button type="submit">Big Gulp Supreme</button>
    </form>
    <form action="/divide" method="post">
        <input type="text" name="firstnumber" placeholder="Divide 1"> 
        <input type="text" name="secondnumber" placeholder="Divide 2">
        <button type="submit">Smaller Maybe?</button>
    </form>
</body>
</html>
